*{
    margin: 1px; 
    padding: 1px;
    
 }
 body{
     background-color: #8fc9f8;
          
    }    
 
 header{      
     position: relative;  
     background: #050505;     
     border: solid 5px #2e21e7;
     border-radius: 10px;       
 }

 header a{   
     text-decoration: none; 
     font-size: clamp(8px,2.5vw,18px);   
     letter-spacing: 1px;
     position: relative;
     top: 0px;    
     color:white; 
 }

 header a::after{ 
    content: '';  
    position: absolute;
    width: 50%;
    height: 5px;    
    background-image:linear-gradient(rgb(5, 248, 45),rgb(5, 248, 45),rgb(5, 248, 45));
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 25px;
    transition: 1s;
 }

 header a:hover::after{
     width: 100%;    
 }

 p{
    color: rgb(252, 252, 253);
    background-color: rgb(10, 10, 10);
    font-size: clamp(14px,2.5vw,20px);
    font-weight: bold;
    letter-spacing: 3px;    
    margin: 10px;
    padding: 10px;
    
    border: solid 3px #3307f5;
    border-radius: 20px;       
  }   

  a{
    font-size: clamp(12px,2.5vw,16px);
    font-weight: bold;
    color: #2904f8;  
 }

 #h{ 
    font-size: clamp(12px,2.5vw,16px);   
    color:rgb(255, 255, 255) ;
    background: #0a027e;            
    margin-top: 5px;        
    padding: 5px 5px;   
    border-radius: 20px;
    width: 50%;
    letter-spacing: 2px;   
   }

 
   h4{ 
    font-size: clamp(14px,2.5vw,20px);   
    color:rgb(255, 255, 255) ;
    background: #050505;            
    margin-top: 5px;        
    padding: 5px 5px;
    border: solid 3px #4521e7;
    border-radius: 20px;
    width: 50%;
    letter-spacing: 2px;   
   }

   body{     
    background-color: #8fc9f8;         
    background-position: center;        
   }

   td{
    font-size: clamp(12px,2.5vw,16px);
    font-weight: bold;    
    padding: 15px 5px;
   }   

   footer{
     
      font-size: clamp(14px,2.5vw,20px);
      font-weight: bold;    
      margin: 0px;      
      border-radius: 10px;
     }

     
 

 

    






